<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CT Interns</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
	<link rel="stylesheet" href="css/app.css">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div id="app">
		<div class="row">
			<div class="small-12 columns">
				<h1>How well do you know CT interns?</h1>
				<p class="score columns small-12" :class="{hide: hideClass}">Your Score: {{ score }} / {{ totalScore}}</p>
			</div>

			<div id="container" class="small-12 columns">
				<div class="image-container columns small-4">
					<div>
						<img v-bind:src="interns[internStep - 1].image" alt="">
					</div>
				</div>

				<div class="form-container columns small-8">
					<form action="">
						<label>
						  	Enter Intern Full Name: (christian name first)
						  	<input id="name" v-model="answers[internStep - 1].name" type="text" >
						</label>

						<label>
						  	Age of Intern:
						  	<input id="age" v-model="answers[internStep - 1].age" type="text" >
						</label>

						<label>
						  	Place of Residence:
						  	<input id="residence" v-model="answers[internStep - 1].residence" type="text" >
						</label>

						<div class="real-image" :class="{hide: hideClass}">
							<img v-bind:src="interns[internStep - 1].person" alt="">
						</div>

						<div id="button-container" class="row columns small-12 ">
							<div v-if="internStep > 1" class="go-left">
								<button @click="internStep = internStep - 1" type="button" class="alert button small expanded">Previous Intern</button>
							</div>
							<div v-if="internStep < 5" class="go-right">
								<button @click="nextQuestion" type="button" class="success button small expanded">Next Intern</button>
							</div>
							<div v-else="" class="go-right">
								<button @click="getAnswers" type="button" class="button small expanded">Finalise and view score</button>
							</div>
						</div>
						
					</form>
					
				</div>
			</div>

		</div>

	</div>	
<script src="../scripts/vue.js"></script>	
<script>

var vm = new Vue({
	el: "#app",
	data: {
		interns: [
			{ name: "Ya'kov Erick", age: "22", residence: "Kaloleni", image: "img/erick.png", person: "img/real/erick.png"},
			{ name: "Kelvin Maina", age: "23", residence: "Kitengela", image: "img/kelvin.png", person: "img/real/kelvin.png"},
			{ name: "Brian Kariuki", age: "23", residence: "Kasarani", image: "img/brian.png", person: "img/real/brian.png"},
			{ name: "Duncan Kinuthia", age: "22", residence: "Ruaka", image: "img/duncan.png", person: "img/real/duncan.png"},
			{ name: "Kisiara Francis", age: "28", residence: "Mirema", image: "img/frank.png", person: "img/real/frank.png"},
		],
		hideClass: true,
		internStep: 1,
		totalInterns: 5,
		totalScore: 15,
		score: 0,
		answers: [
			{name: '', age: '', residence: ''},
			{name: '', age: '', residence: ''},
			{name: '', age: '', residence: ''},
			{name: '', age: '', residence: ''},
			{name: '', age: '', residence: ''}
		]
	},
	computed:{

	},

	methods: {
		nextQuestion: function(){
			this.internStep += 1;
		},
		getAnswers: function(){
			var myScore = 0;

			for(var count = 0; count < this.answers.length; count ++){
				for(element in this.answers[count]){
					if(this.answers[count][element].toUpperCase() === this.interns[count][element].toUpperCase()){
						myScore = myScore + 1;
					}
				}
			}

			this.score = myScore;
			this.hideClass = false;
		}
	}
});
</script>
</body>
</html>